* {
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
}

/* Estilos css registro*/
 .formulario {
    background-color: rgba(100, 100, 100, 0);
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: black;
    margin-top: 150px;
    padding: 3px;
}

.formulario h1 {
    text-align: center;
    font-size: 40px;
}

input[type="nombre1"],
input[type="nombre2"],
input[type="apellido1"],
input[type="apellido2"],
input[type="correo"],
input[type="password"] {
    font-size: 20px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
}


.input-contenedor {
    margin-bottom: 15px;

}

.icon {
    min-width: 5px;
    text-align: center;
    color: black;
}

.botton {
    border: none;
    width: 50%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.botton:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link:hover {
    color: cadetblue;
}

/* css login*/

.formulario-login {
    background-color: rgba(100, 100, 100, 0);
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: black;
    margin-top: 150px;
    padding: 3px;
}

body {
    font-family: 'open sans';/*con esto la tipografia cambia*/
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: rgb(12, 12, 12);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*header*/

header {
    width: 100%;
    height: 600px;
    background: #b0c6f7;
    /* fallback for old browsers */
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(55, 100%, 95%, 0.658), hsla(208, 100%, 33%, 0.719)), url(https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936544/ProyectoMintic/imgCaballero/imagenPrincipa%C3%B1_bsy10l.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(55, 100%, 95%, 0.658), hsla(208, 100%, 33%, 0.726)), url(https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936544/ProyectoMintic/imgCaballero/imagenPrincipa%C3%B1_bsy10l.jpg);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.logo{
    height: 10px;
    width: 20px;
}

.buscar{
  position: relative;
  padding: 5px; 
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    color: #005AA7;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.btn{
    position: absolute;
    top: 0;
    right: 0;
    background: #005AA7;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff ;
    font: weight 300;
    text-decoration: none;
    margin-right: 20px;
}

nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width:  100%;
}

/*Abaut us*/
/*sobre nosotros*/

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-abaut-us{
    width: 30%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;

}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background:coral ;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    padding: 2px;
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Portafolio*/

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px  rgba(0, 0, 0, .5);
    
}

.imagen-port >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background-color: rgba(110, 174, 235, 0.466);
    transform: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}


/* Clientes*/
.cards{
    display:flex;
   justify-content: space-evenly;

}

.cards .card{
    background: cadetblue;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);

}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}
.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}

/*Our team*/


.abaut-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.servicio-ind{
    width: 28%;
    text-align: center;  
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
   
}

/* footer*/
footer{
    background: #5e7aa0;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
   color: #fff;
   border-bottom: 3px solid #0b40f1;
   padding-bottom: 5px;
   margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
   
 }

 .titulo-final{
     text-align: center;
     font-size: 24px;
     margin: 20px 0 0 0;
     color: #9e9797;

 }
 @media screen and (max-width:900px){
     heaader{
         background-position: center;
     }
     .contenedor-sobre-nosotros{
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
    
     .sobre-nosotros .contenido-textos{
         width: 90%;
     }

     .imagen-abaut-us{
         width: 90%;
     }

     /*galeria*/
     .imagen-port{
         width: 44%;
     }
     /*
     
     clientes*/
     .cards{
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     .cards .card{
         width: 90%;

     }
     .cards .card:first-child{
        margin-bottom: 30px;

    }
    /*servicios*/
    .servicios-cont{
        justify-content: center;
        flex-direction: column;
    }
    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
 }

 @media screen and (max-width:500px){
     nav{
         text-align: center;
         padding: 30px 0 0 0;
     }
     nav >a{
         margin-right: 5px;
     }
     .textos-header h1{
         font-size: 35px;
     }
     .textos-header h2{
         font-size: 20px;
     }

     /*About as*/
     .imagen-abaut-us{
         margin-bottom: 60px;
         width: 99%;
     }
     .sobre-nosotros .contenido-textos{
         width: 95%;
     }

     /*galeria*/
     .imagen-port{
         width: 95%;
     }
     /*Clientes */
     .cards .card{
         height: 450px;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .cards .card img{
         width: 90px;
         height: 90px;

     }
     /*footer*/
     .contenedor-footer{
         flex-direction: column;
         border: none;
     }
     .content-foo{
         margin-bottom: 20px;
         text-align: center;
     }
     .content-foo h4{
         border: none;
     }
     .content-foo p{
         color: #ccc;
         border-bottom: 1px solid #f2f2f2;
         padding-bottom: 20px;

     }
     .titulo-final{
        font-size: 20px;
     }
     
 }


 /* Estilos css dama*/
 
