/* Estilos css registro*/
 .formulario {
    background-color: rgba(100, 100, 100, 0);
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: black;
    margin-top: 150px;
    padding: 3px;
}

.formulario h1 {
    text-align: center;
    font-size: 40px;
}

input[type="nombre1"],
input[type="nombre2"],
input[type="apellido1"],
input[type="apellido2"],
input[type="correo"],
input[type="password"] {
    font-size: 20px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
}


.input-contenedor {
    margin-bottom: 15px;

}

.icon {
    min-width: 5px;
    text-align: center;
    color: black;
}

.botton {
    border: none;
    width: 50%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.botton:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link:hover {
    color: cadetblue;
}

/* css login*/

.formulario-login {
    background-color: rgba(100, 100, 100, 0);
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: black;
    margin-top: 150px;
    padding: 3px;
}