<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="referrer" content="never">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ModaSports </title>
        <link rel="shortcut icon" href="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936539/ProyectoMintic/imagenesDama/logoModaSports_mxukl7.png" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/estilos.css}"> 
        <meta http-equiv="X-UA-Comatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
        <!--estilo de los titulos-->
        <script src="https://kit.fontawesome.com/8e4b6e382e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div><h1>Formulario de Categorias</h1></div>
        <header>
                <div class="logo">
                <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936539/ProyectoMintic/imagenesDama/logoModaSports_mxukl7.png" alt="NO SE ENCUENTRA IMAGEN">
                </div>
            <nav>
                <a href="/">Inicio</a>
                <a href="/dama">Damas</a>
                <a href="/listcategories">Lista de Categorias</a>
                <a href="/formcategories">Formulario de Categorias</a>
                <a href="#">Portafolio</a>
                <a href="#">Servicio</a>
                <a href="#">Contacto</a>
                <div class="buscar">
                    <input type="text" placeholder="Buscar producto" required>
                    <div class="btn">
                        <i class="fa-solid fa-magnifying-glass icon"></i>
                    </div>
                </div> 
            </nav>
            <!--forma del encabezado-->
            <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                    style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #fff;"></path>
                </svg></div>
        </header>

        <button><a href="/">Volver A Inicio</a></button>
    </body>
</html>
