<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="referrer" content="never">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Comatible" content="ie=edge">
        <title>ModaSports </title>
        <link rel="shortcut icon" href="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936539/ProyectoMintic/imagenesDama/logoModaSports_mxukl7.png" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/estilos.css}"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
        <!--estilo de los titulos-->
        <script src="https://kit.fontawesome.com/8e4b6e382e.js" crossorigin="anonymous"></script>
    </head>
    <body>    
        <header>
                <div class="logo">
                <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936539/ProyectoMintic/imagenesDama/logoModaSports_mxukl7.png" alt="NO SE ENCUENTRA IMAGEN">
                </div>
            <nav>
                <a href="/">Inicio</a>
                <a href="/dama">Damas</a>
                <a href="/listcategories">Lista de Categorias</a>
                <a href="/formcategories">Formulario de Categorias</a>
                <a href="/listproductos">Portafolio Productos</a>
                <a href="/registro">Registro</a>
                <a href="/login">Login</a>
                <div class="buscar">
                    <input type="text" placeholder="Buscar producto" required>
                    <div class="btn">
                        <i class="fa-solid fa-magnifying-glass icon"></i>
                    </div>
                </div> 
            </nav>
            <section class="textos-header">
                <h1>Bienvenidos a su tienda de ropa </h1>
                <h2>Moda Sports </h2>
            </section>
            <!--forma del encabezado-->
            <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                    style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #fff;"></path>
                </svg></div>
        </header>
        <main>
            <section class="contenedor sobre-nosotros">
                <h2 class="titulo">Lo nuevo para dama</h2>
                <div class="contenedor-sobre-nosotros">
                    <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936539/ProyectoMintic/imagenesDama/Captura_de_pantalla_2022-08-30_204228_jvwwvg.png" alt="NO SE ENCUENTRA IMAGEN" class="imagen-abaut-us">
                    <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936538/ProyectoMintic/imagenesDama/Captura_de_pantalla_2022-08-30_204451_pvyoep.png" alt="NO SE ENCUENTRA IMAGEN" class="imagen-abaut-us">
    
                    <div class="contenido-textos">
                        <h3><span>1</span> Camisetas dama.</h3>
                        <p>En los almacenes ModaSports ya se enentra disponible las proximas colecciones para el fin de año.
                            revisa el catalogo de productos nuevos </p>
                        <h3><span>2</span> Blusas.</h3>
                        <p>Las tendencias para la proxima colección en la ropa de dama estan basadas en los colores tierra
                            con un toque de sensualidad para el proximo verano.</p>
                    </div>
                </div>
            </section>
            <section class="Portafolio">
                <div class="contenedor">
                    <h2 class="titulo">Portafolio. </h2>
                    <div class="galeria-port">
                        <div class="imagen-port">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936539/ProyectoMintic/imagenesDama/boutiqueDama_ew1no1.png" alt="NO SE ENCUENTRA IMAGEN">
                            <div class="hover-galeria">
                                <img src="../static/imagenes/grifo.png" alt="">
                                <p><a href="#" target="_black">Damas<a /></p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936546/ProyectoMintic/imgCaballero/boutiqueHombre_f8zxhf.png" alt="NO SE ENCUENTRA IMAGEN">
                            <div class="hover-galeria">
                                <img src="../static/imagenes/grifo.png" alt="">    
                                <p><a href="#" target="_black">Caballero</a></p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936540/ProyectoMintic/imagenesDama/descuento_a4ola8.png" alt="NO SE ENCUENTRA IMAGEN">    
                            <div class="hover-galeria">
                                <img src="../static/imagenes/grifo.png" alt="">    
                                <p><a href="#" target="_black">Descuentos</a></p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936539/ProyectoMintic/imgNi%C3%B1os/boutiqueNi%C3%B1os_k9t8mf.png" alt="NO SE ENCUENTRA IMAGEN">
                            <div class="hover-galeria">
                                <img src="../static/imagenes/grifo.png" alt="">
                                <p><a href="#" target="_black">Ropa Niños</a></p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936543/ProyectoMintic/imagenesVarias/nuevasColecciones_mkz80a.png" alt="NO SE ENCUENTRA IMAGEN">    
                            <div class="hover-galeria">
                                <img src="../static/imagenes/grifo.png" alt="">    
                                <p><a href="#" target="_black">Nuevas colecciones</a></p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936542/ProyectoMintic/imagenesVarias/accesorios_iibnfp.png" alt="NO SE ENCUENTRA IMAGEN">    
                            <div class="hover-galeria">
                                <img src="../static/imagenes/grifo.png" alt="">
                                <p><a href="#" target="_black">Accesorios damas</a></p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936540/ProyectoMintic/imagenesVarias/gorras_lucfun.png" alt="NO SE ENCUENTRA IMAGEN">
    
                            <div class="hover-galeria">
                                <img src="../static/imagenes/grifo.png" alt="">    
                                <p><a href="#" target="_black">Gorras</a></p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936543/ProyectoMintic/imagenesVarias/accesoriosCaballero_et9jy6.png" alt="NO SE ENCUENTRA IMAGEN">    
                            <div class="hover-galeria">
                                <img src="../static/imagenes/grifo.png" alt="">    
                                <p><a href="#" target="_black">Accesorios caballeros</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="clientes contenedor">
                <h2>Próximamente. </h2>
                <div class="cards">
                    <div class="card">
                        <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936544/ProyectoMintic/imagenesVarias/tennis_vmsbo2.png" alt="NO SE ENCUENTRA IMAGEN">
                        <div class="contenido-texto-card">
                            <h4> Ropa deportiva.</h4>
                            <p>Próximamente tendremos un portafolio muy completo de ropa deportiva</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936545/ProyectoMintic/imagenesVarias/lenceria_wk37en.png" alt="NO SE ENCUENTRA IMAGEN">
                        <div class="contenido-texto-card">
                            <h4> lenceria.</h4>
                            <p>Ropa interior para damas y caballeros. </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="abaut-services">
                <div class="contenedor">
                    <h2 class="titulo">Tiendas fisicas. </h2>
                    <div class="servicio-cont">
                        <div class="servicio-ind">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936542/ProyectoMintic/imagenesVarias/imgMedellin_t8q0ig.png" alt="NO SE ENCUENTRA IMAGEN">
                            <h3>Medellín</h3>
                            <p>Avenida 38 con calle 36A -56, edificio los colores</p>
                        </div>
                        <div class="servicio-ind">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936543/ProyectoMintic/imagenesVarias/imgBogota_kwxp7l.png" alt="NO SE ENCUENTRA IMAGEN">
                            <h3>Bogotá </h3>
                            <p>Regional norte cra 89A 55-56 (Centro comercial la alegria) </p>
                        </div>
                        <div class="servicio-ind">
                            <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936543/ProyectoMintic/imagenesVarias/imgSantander_fn210e.png" alt="NO SE ENCUENTRA IMAGEN">
                            <h3>Santander </h3>
                            <p>Zona centro Cra 56A diagonal 38 (Centro comercial colonial)</p>
                        </div>
    
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="contenedor-footer">
                <div class="content-foo">
                    <h4>Phone</h4>
                    <p>12345678</p>
                </div>
                <div class="content-foo">
                    <h4>email</h4>
                    <p>ModaSports123@gmail.com</p>
                </div>
                <div class="content-foo">
                    <h4>location</h4>
                    <p>12345678</p>
                </div>
            </div>
            <h2 class="titulo final">&copy; Grupo09</h2>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>
