<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="referrer" content="never">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Comatible" content="ie=edge">
        <title>ModaSports </title>
        <link rel="shortcut icon" href="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936539/ProyectoMintic/imagenesDama/logoModaSports_mxukl7.png" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/estilos.css}"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
        <!--estilo de los titulos-->
        <script src="https://kit.fontawesome.com/8e4b6e382e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
                <div class="logo">
                <img src="https://res.cloudinary.com/dulpsdgfw/image/upload/v1662936539/ProyectoMintic/imagenesDama/logoModaSports_mxukl7.png" alt="NO SE ENCUENTRA IMAGEN">
                </div>
            <nav>
                <a href="/">Inicio</a>
                <a href="/dama">Damas</a>
                <a href="/listcategories">Lista de Categorias</a>
                <a href="/formcategories">Formulario de Categorias</a>
                <a href="#">Portafolio</a>
                <a href="#">Servicio</a>
                <a href="#">Contacto</a>
                <div class="buscar">
                    <input type="text" placeholder="Buscar producto" required>
                    <div class="btn">
                        <i class="fa-solid fa-magnifying-glass icon"></i>
                    </div>
                </div> 
            </nav>
            <!--forma del encabezado-->
            <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                    style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #fff;"></path>
                </svg></div>
        </header>

        <div><h1>Lista de Categorias</h1></div>
        <div class="container">
          <form action="/listproductos" method="get">
                <label for="criterio">Buscar por:</label>
                <input type="text" id="criterio" name="criterio">
                 <input type="submit" value="Buscar">
            </form>

        </div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th> 
                    <th scope="col">Talla</th> 
                    <th scope="col">Imagen</th> 
                    <th scope="col">Disponibilidad</th> 
                    <th scope="col">Precio_Compra</th> 
                    <th scope="col">Precio_Venta</th> 
                    <th scope="col">Ganancia</th> 
                    <th scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                    <tr th:if="${not #lists.isEmpty(productos)}" th:each="producto : ${productos}">
                    <tr th:each="producto : ${productos}">
                    <th scope="row" th:text="${producto.id_productos}">...</th>
                    <td th:text="${producto.codigo}">...</td>
                    <td th:text="${producto.nombre}">...</td>
                    <td th:text="${producto.talla}">...</td>
                    <td th:text="${producto.imagen}">...</td>
                    <td th:text="${producto.disponibilidad}">...</td>
                    <td th:text="${producto.valor_proveedor}">...</td>
                    <td th:text="${producto.valor_venta}">...</td>
                    <td th:text="${producto.lucro}">...</td>
                    <td th:text="${producto.categoria.nombre}">...</td>
                </tr>
                <tr th:if="${#lists.isEmpty(productos)}">
                     <td colspan="3" >No Se Encontraron Registros</td>
                </tr>
            </tbody>
        </table>
        
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <OL th:if="${not #lists.isEmpty(productos)}" th:each="producto : ${productos}">
                     
                        <LI th:each="producto : ${productos}">
                        <div class="card" style="width: 18rem;">
                        <img src= th:text="${producto.imagen}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${producto.codigo}">An item</li>
                            <li class="list-group-item" th:text="${producto.nombre}">A second item</li>
                            <li class="list-group-item" th:text="${producto.talla}">A third item</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                            </li>
                    </OL>    
                </div>
            </div>
        </div>
        
        <button><a href="/">Volver A Inicio</a></button>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    </body>
</html>

